<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="./styles/indexbackend.css">


    <title>Pieces</title>
</head>

<style>

</style>
<body class="indexbody">

    <section class="jumbotron text-center indexpage">
        <div class="container">
            <div>
                <h1 class="jumbotron-heading">Pieces</h1>

            </div>

          <div>
              
              <h3>Play with your photos!</h3>
          </div>
        
              <div>

                  <a href="/signup">Sign Up</a>
                  <a href="/login">Log In</a>
              </div>
        <div>

            <img className="piecesimage" src="./pieces.gif"></img>
        </div>
        </div>

      </section>

    
</body>
</html>