<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="./styles/indexbackend.css">


    <title>Pieces SignUp</title>
</head>
<body class="loginpage">

    <section class="jumbotron text-center">
        <div class="logincontainer">
          <h1 class="jumbotron-heading">Please sign up for access to Pieces  </h1>
            <h4 class="alert alert-primary"> ${(message) ? message : "Sign up"}</h4>
        
              <form
        action="/signup"
        method="POST"
        >  
            <!-- copied from https://getbootstrap.com/docs/4.1/components/forms/ -->
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label><br/>
                  <input required placeholder="we never share emails" name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label> <br />
                  <input required placeholder="create a password" name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
    
                <button type="submit" class="loginbutton">Create Account</button>
              </form>
      
        </div>
      </section>



        
        
</body>
</html>