/* paul irish border box styling */
  *, *:before, *:after {
    box-sizing: inherit;
  }

    .alert-primary {
    color: #5f2f22;
    background-color: #b8ffea;
    border-color: #b8ffea;
}
.jumbotron {
  padding: 1px;

  background-color: #b8ffea;
  background-color: #ffb991 ;
  color: #5f2f22;
  background-color: #22262c;;
}
html {
  box-sizing: border-box;

  background-color: #ffb991 ;
  background-color: #22262c;;

}
  .alert-primary {
  color: #5f2f22;
  background-color: #b8ffea;
  border-color: #b8ffea;
}
a {
  background-color:#b8ffea;
  margin: 30px;
  padding: 10px;
  border-radius: 5px;
  color: #5f2f22;
}


